body {
    font-family: Arial;
    margin: 0;
    background: #f4f4f4;
}

/* NAV */
nav {
    background: #1f2a38;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

/* HEADER */
header {
    background: #2c3e50;
    color: white;
    text-align: center;
    padding: 40px;
}

/* SECTIONS */
section {
    padding: 20px;
}
